.padre {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contenedor {
    background-color: white;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 20px;
    border-radius: 10px;
    max-width: 350px;
    height: 400px;
    padding: 10px;
    box-shadow: 0 1px 1px rgb(0, 0, 0.5);
}
.card{
    width: 300px;
}
.imagen {
    max-width: 300px;
    max-height: 300px;
}
.imagen img{
    max-width: 300px;
    max-height: 300px;
}
h3 {
    padding: 10px;
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
}
.links {
    text-decoration: none;
    color: black;
}
.info_name, .info_precio {
    text-align: center;
}