body {
    background-color: rgb(237, 237, 237);
}
.body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 100px 50px 100px;
    background-color: white;
    border-radius: 10px;
}
h3 {
    background-color: white;
    padding-top: 100px;
    font-size: 30px;
    text-align: justify;
}
.contenedor img {
    max-width: 700px;
}
.detalles {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    text-align: left;
    font-size: 18px;
}
.detalles .lista_detalles {
    list-style: circle;
}