nav {
    background-color: rgb(73, 181, 85);
    color: white;
    display: block;
    height: fit-content;
    font-size: 16px;
    padding: 0.5rem;
}
@media(min-width: 902px){
    nav{
        display: flex;
        justify-content: space-between;
        height: 70px;
    }
}
nav p {
    border-radius: 50%;
    color: black;
    background-color: white;
    padding-right: 10px;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    cursor: pointer;
}