div .container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    box-shadow: 0 0 2px rgb(0, 0, .5);
}
.formulario input {
    margin: 20px;
    width: 760px;
    height: 30px;
    border-radius: 5px;
}
.boton {
    padding: 10px 20px;
}